numpy>=1.18.5,<1.24
scikit-build
matplotlib==3.3.3
scikit-image==0.17.2
scikit-learn>=0.23.2
opencv-python>=4.5.1.48
imageio
torch
torchvision
torchsummary
tensorboardX
pyrealsense2
Pillow
pandas
pybullet
attrdict
